{% extends "layouts/default.html" %}
{% block title %}Area91{% endblock %}
{% block content %}
<h1 class="centered">Edit account</h1>
<p>
  <form action="<%= admin_account_path(@conn, :update, @account.account_id) %>" method="post">
    <div class="form-group">
      <!--input type="hidden" name="_csrf_token" value="<%= get_csrf_token %>"-->
      <input type="hidden" name="_method" value="PATCH">
      <label for="txt_account[name]">Name</label>
      <input type="text" name="txt_account[name]" class="form-control" value="{{ p_account.name }}"/>
      <label for="txt_account[description]">Description</label>
      <input type="text" name="txt_account[description]" class="form-control" value="{{ p_account.description }}"/>
      <%= p_account.account_id %>
    </div>
    <div class="pure-control-group">
      <button type="submit" class="pure-button pnure-button-active">Save</button>
    </div>
  </form>
</p>
{% endblock %}
